*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    border-radius: 10%;
    text-align: center;
    font-size: large; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo
{
    border-radius: 20px;
    margin: 2vh;
}

.titulo h1
{
    padding-top: 7vh;
}

p
{
    background-color: #e2a9e1;
    padding: 2vh;
    margin: 2vh;
    border-radius: 3vh;
    box-shadow: 0px 10px 7px lightgray;
}

.imagens{
    display: flex;
    justify-content: center;  
    
}
.imagens img{
    margin: 3%;
    border-radius: 3vh;
    box-shadow: 2px 2px 10px gray;

}

.video video
{
    border-radius: 20px;
    box-shadow: 2px 2px 10px gray;
}

header
{
    background-color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    border-bottom: 2px solid lightgray;
}

header a
{
    text-decoration: none;
    color: black;
    font-size: 3vh;
    margin: 3vh;
}

footer
{
    margin-top: 3vh;
    padding: 2vh;
    background-color: #e2a9e1;
}